.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
demo/**
**/*.mp4
virtual-client-*.vsix
virtual-client.tar
.env
.env.*
.env.example
**/*.log
